@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Righteous';
}

h2,
h3,
h4 {
  margin: 1rem 0;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  letter-spacing: -1px;
  text-align: center;
}

p {
  margin: 1rem 0;
  text-align: center;
}

ol {
  padding: 1.5rem;
}

ol li {
  /* text-align: center; */
  padding: 1rem 0;
}

#tutorial-image-security {
  background: url('/assets/hacker.jpg') no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 50vw;
}

#tutorial-image-banking {
  background: url('/assets/digital-banking.jpeg') no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 50vw;
}

.tutorial-image > h1 {
  color: white;
  font-family: 'Poiret One';
  padding: 1rem;
  font-size: 2.5rem;
  /* padding-top: 4rem; */
}

#tutorial-image-banking > h1 {
  color: black;
}

.overview {
  margin: 4rem 10vw;
}

.overview-item {
  background-color: dimgrey;
  height: 200px;
}

#how-to-do-it {
  margin: 4rem 10vw;
}

#additional-info {
  margin: 4rem 10vw;
}

footer {
  height: 10vh;
  border-top: 2px solid black;
}

@media screen and (min-width: 500px) {
  .overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .tutorial-image > h1 {
    font-size: 4rem;
    padding-top: 4rem;
  }

  .overview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #additional-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
